## Suggested Libraries:

In [1]:
!pip install numpy
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/vscode/.local/lib/python3.9/site-packages (1.23.3)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.9/site-packages (1.5.0)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.20.3 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

## Loading data into Pandas

In [2]:
import pandas as pd

#read data from csv into a pandas dataframe, optional: define delimiter
df = pd.read_csv('movie_data.csv', delimiter=',')

## Reading Data in Pandas

In [3]:
#print first 4 rows of the dataframe
print(df.head(4))

#access column by name
df['Genre']

#easily convert 1-dimensional datas into python lists
df['Genre'].to_list()

#get column names
df.columns

#get subset of the dataframe
df[['Genre', 'Lead Studio', 'Profitability']]

#get specific rows
df.iloc[10:15]

#iterate rows
for index, row in df.iterrows():
    print(row['Film'])

#access all rows where certain condition is met
df.loc[df['Profitability'] > 10]

#access a specific location in the dataframe 
print(df.iloc[5,2])

                                 Film   Genre            Lead Studio  \
0                     Youth in Revolt  Comedy  The Weinstein Company
1  You Will Meet a Tall Dark Stranger  Comedy            Independent
2                        When in Rome  Comedy                 Disney
3               What Happens in Vegas  Comedy                    Fox

   Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross  Year
0                52       1.090000                 68         $19.62   2010
1                35       1.211818                 43         $26.66   2010
2                44       0.000000                 15         $43.04   2010
3                72       6.267647                 28        $219.37   2008
Youth in Revolt
You Will Meet a Tall Dark Stranger
When in Rome
What Happens in Vegas
Water For Elephants
WALL-E
Waitress
Waiting For Forever
Valentine's Day
Tyler Perry's Why Did I get Married
Twilight: Breaking Dawn
Twilight
The Ugly Truth
The Twilight Saga: New Moon
The Time Traveler's Wife
The Proposal
The Invention of Lying
The Heartbreak Kid
The Duchess
The Curious Case of Benjamin Button
The Back-up Plan
Tangled
Something Borrowed
She's Out of My League
Sex and the City Two
Sex and the City 2
Sex and the City
Remember Me
Rachel Getting Married
Penelope
P.S. I Love You
Over Her Dead Body
Our Family Wedding
One Day
Not Easily Broken
No Reservations
Nick and Norah's Infinite Playlist
New Year's Eve
My Week with Marilyn
Music and Lyrics
Monte Carlo
Miss Pettigrew Lives for a Day
Midnight in Paris
Marley and Me
Mamma Mia!
Mamma Mia!
Made of Honor
Love Happens
Love & Other Drugs
Life as We Know It
License to Wed
Letters to Juliet
Leap Year
Knocked Up
Killers
Just Wright
Jane Eyre
It's Complicated
I Love You Phillip Morris
High School Musical 3: Senior Year
He's Just Not That Into You
Good Luck Chuck
Going the Distance
Gnomeo and Juliet
Gnomeo and Juliet
Ghosts of Girlfriends Past
Four Christmases
Fireproof
Enchanted
Dear John
Beginners
Across the Universe
A Serious Man
A Dangerous Method
27 Dresses
(500) Days of Summer
Disney

## Sorting Data

In [4]:
#sort data by multiple attributes. example: sort movies by critics score, then audience score
df.sort_values(by=['Rotten Tomatoes %', 'Audience score %'], ascending=[0,0])

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
5,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
42,Midnight in Paris,Romance,Sony,84,8.744706,93,$148.66,2011
68,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
53,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
21,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
...,...,...,...,...,...,...,...,...
54,Killers,Action,Lionsgate,45,1.245333,11,$93.40,2010
50,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
37,New Year's Eve,Romance,Warner Bros.,48,2.536429,8,$142.04,2011
7,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
61,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007

## Modifying the Dataframe

In [5]:
#create new column that holds average movie rating
df['Avg Rating'] = (df['Rotten Tomatoes %'] + df['Audience score %']) / 2
df


#delete the column
#df = df.drop(columns=['Avg Rating'])
#df

#reorder the dataframe: put last column as second one, shift others to right
#cols = list(df.columns)
#df = df[[cols[0]] + [cols[-1]] + cols[1:-1]]
#df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year,Avg Rating
0,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010,60.0
1,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010,39.0
2,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010,29.5
3,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008,50.0
4,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011,66.0
...,...,...,...,...,...,...,...,...,...
71,Across the Universe,Romance,Independent,84,0.652603,54,$29.37,2007,69.0
72,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009,76.5
73,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011,84.0
74,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008,55.5
75,(500) Days of Summer,Comedy,Fox,81,8.096000,87,$60.72,2009,84.0

## Exporting the Dataframe

In [6]:
df.to_csv('new_movie_data.csv', index=False, sep=',')

df.to_excel('new_movie_data.xlsx', index=False)

## Filtering Data

In [7]:
#filter data by certain criteria, save results in a new dataframe
new_df = df.loc[(df['Year'] >= 2010) & (df['Genre'] == 'Comedy')]

#compute new index for the new dataframe, do this inplace and not on a new copy
new_df.reset_index(drop=True, inplace=True)

new_df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year,Avg Rating
0,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010,60.0
1,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010,39.0
2,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010,29.5
3,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010,35.5
4,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010,33.5
5,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010,58.5
6,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010,32.0
7,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010,32.0
8,Our Family Wedding,Comedy,Independent,49,0.000000,14,$21.37,2010,31.5
9,Love & Other Drugs,Comedy,Fox,55,1.817667,48,$54.53,2010,51.5
10,Life as We Know It,Comedy,Independent,62,2.530526,28,$96.16,2010,45.0
11,Letters to Juliet,Comedy,Summit,62,2.639333,40,$79.18,2010,51.0
12,Leap Year,Comedy,Universal,49,1.715263,21,$32.59,2010,35.0
13,Just Wright,Comedy,Fox,58,1.797417,45,$21.57,2010,51.5
14,I Love You Phillip Morris,Comedy,Independent,57,1.340000,71,$20.10,2010,64.0
15,Going the Distance,Comedy,Warner Bros.,56,1.314062,53,$42.05,2010,54.5
16,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011,82.0


## Finding and changing data (using df.loc)

In [8]:
import re

#change genre to blockbuster for very profitable movies
#df.loc[df['Profitability'] > 5, 'Genre'] = 'Blockbuster'

#filter for certain names, ignore letter capitalization
df.loc[df['Film'].str.contains('Man|Love', regex=True, flags=re.I)]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year,Avg Rating
30,P.S. I Love You,Romance,Independent,82,5.103117,21,$153.09,2007,51.5
47,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009,29.0
48,Love & Other Drugs,Comedy,Fox,55,1.817667,48,$54.53,2010,51.5
58,I Love You Phillip Morris,Comedy,Independent,57,1.340000,71,$20.10,2010,64.0
72,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009,76.5

## Group By

In [17]:
#group genres by their mean profitability and sort them
df.groupby(['Genre']).mean(numeric_only=True).sort_values('Profitability', ascending=False)


#count number of entries in a category
df.groupby(['Genre']).count()

,Film,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year,Avg Rating
Genre,,,,,,,,
Action,1,1,1,1,1,1,1,1
Animation,4,4,4,4,4,4,4,4
Comedy,43,43,43,43,43,43,43,43
Drama,13,13,13,13,13,13,13,13
Fantasy,1,1,1,1,1,1,1,1
Romance,14,14,14,14,14,14,14,14